10-18-2013/OrderProcessWService/WebContent/wsdl/OrderProcessImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://OrderProcess.WebServices.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://OrderProcess.WebServices.org" xmlns:intf="http://OrderProcess.WebServices.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://OrderProcess.WebServices.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAccount">
    <complexType>
     <sequence>
      <element name="accountName" type="xsd:string"/>
      <element name="accountPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createOrder">
    <complexType>
     <sequence>
      <element name="order_id" type="xsd:int"/>
      <element name="customer_id" type="xsd:int"/>
      <element name="shipping_id" type="xsd:int"/>
      <element name="billing_id" type="xsd:int"/>
      <element name="order_date" type="xsd:string"/>
      <element name="total" type="xsd:int"/>
      <element name="shipping_cost" type="xsd:int"/>
      <element name="tax" type="xsd:int"/>
      <element name="grand_total" type="xsd:int"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createOrderResponse">
    <complexType>
     <sequence>
      <element name="createOrderReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="customer_id" type="xsd:int"/>
      <element name="date_created" type="xsd:string"/>
      <element name="late_accessed" type="xsd:string"/>
      <element name="attempts" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="confirmOrder">
    <complexType>
     <sequence>
      <element name="order_id" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="confirmOrderResponse">
    <complexType>
     <sequence>
      <element name="confirmOrderReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAccountRequest">

      <wsdl:part element="impl:getAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createOrderRequest">

      <wsdl:part element="impl:createOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="confirmOrderRequest">

      <wsdl:part element="impl:confirmOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="confirmOrderResponse">

      <wsdl:part element="impl:confirmOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountResponse">

      <wsdl:part element="impl:getAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createOrderResponse">

      <wsdl:part element="impl:createOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrderProcessImpl">

      <wsdl:operation name="getAccount">

         <wsdl:input message="impl:getAccountRequest" name="getAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountResponse" name="getAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createOrder">

         <wsdl:input message="impl:createOrderRequest" name="createOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createOrderResponse" name="createOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="confirmOrder">

         <wsdl:input message="impl:confirmOrderRequest" name="confirmOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:confirmOrderResponse" name="confirmOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderProcessImplSoapBinding" type="impl:OrderProcessImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="confirmOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="confirmOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="confirmOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderProcessImplService">

      <wsdl:port binding="impl:OrderProcessImplSoapBinding" name="OrderProcessImpl">

         <wsdlsoap:address location="http://localhost:8080/OrderProcessWService/services/OrderProcessImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
